{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'language_evaluator/style.css' %}">

{% block content %}
{% if user.is_authenticated %}
  <table>
    <tr>
      <th>Language</th>
      <th>State</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>
  {% for t in user.test_set.all %}
    <tr>
      <th>{{ t }}</th>
      {% if t.is_finished %}
        <th>finished</th>
        <th>{{ t.result }}</th>
        <th></th>
      {% else %}
        <th>{{ t.time_left_readable }} left</th>
        <th></th>
        <th>
          <form action="{% url 'test' t.id %}" method="get">
            <button>Continue</button>
          </form>
          <form action="{% url 'finish' t.id %}" method="post">
            {% csrf_token %}
            <button>Finish</button>
          </form>
        </th>
      {% endif %}
    </tr>
  {% endfor %}
  {% for l in languages %}
    <tr>
        <th>{{ l }}</th>
        <th>new</th>
        <th></th>
        <th></th>
    </tr>
  {% endfor %}
  </table>
  <button><a href="{% url 'logout' %}">logout</a></button>

{% else %}
  <p>You are not logged in</p>
  <button><a href="{% url 'login' %}">login</a></button>
{% endif %}
{% endblock %}