{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'language_evaluator/style.css' %}">

{% if question.image_file %}<img src="{{ question.image_file.url }}">{% endif %}
{% if question.audio_file %}<audio controls><source src="{{ question.audio_file.url }}"> Your browser does not support the audio tag.</audio>{% endif %}
<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'answer' question.id %}" method="post">
    {% csrf_token %}

    {% for a in answer_set %}
        <input type="radio" name="a" id="a{{ forloop.counter }}" value="{{ a.id }}">
        <label for="a{{ forloop.counter }}">{{ a.answer_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Answer">
</form>
